

<body>
    <header class="section__container header__container">
        <div class="header__image__container">
            <div class="header__content text-white  ">
                <h2 class="h2_custom">Hayalindeki tatili yaşa</h2>
                <p>En ucuz fiyata en iyi oteller bir tıkda avucunun içinde</p>
            </div>
        </div>
    </header>

    <section class="section__container popular__container">
        <h2 class="section__header">Hotels</h2>
        <div class="popular__grid">
            <div class="popular__card">
                
                <img src="https://cdn.pixabay.com/photo/2015/09/07/19/12/hotel-928937_1280.jpg" width="400" height="400"
                    alt="popular hotel" />
                <div class="popular__content">
                    <div class="popular__card__header">
                        <h4>The Plaza Hotel</h4>

                        <div class="star-rating">
                            <span class="icon">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-line half"></i>
                                <i class="ri-star-line"></i>
                                
                        
                            </span> <br><br>
                            

                        </div>
                    </div>
                    <p><i class="ri-map-pin-line"></i> New York City, USA</p>
                   <br>
                    <span class="price">300$</span>
                </div>
                <button class="details-btn " routerLink="/details" target="_blank">Details</button>
            
            </div>
            <div class="popular__card">
                <img src="https://cdn.pixabay.com/photo/2017/05/31/10/23/manor-house-2359884_1280.jpg" width="400"
                    height="400" alt="popular hotel" />
                <div class="popular__content">
                    <div class="popular__card__header">
                        <h4>Ritz Paris</h4>
                        <div class="star-rating">
                            <span class="icon">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-line"></i>
                                <i class="ri-star-line"></i>
                                
                            </span> <br><br>
                            
                        </div>
                        
                    </div>
                    <p> <i class="ri-map-pin-line"></i> Paris, France</p>
                    <br>
                    <span class="price">400$</span>
                </div>
                <button class="details-btn " routerLink="/details" target="_blank">Details</button>
            </div>
            <div class="popular__card">
                <img src="https://images.pexels.com/photos/70441/pexels-photo-70441.jpeg" width="400" height="400"
                    alt="popular hotel" />
                <div class="popular__content">
                    <div class="popular__card__header">
                        <h4>The Peninsula</h4>
                        <div class="star-rating">
                            <span class="icon">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                          
                            </span> <br><br>
                        </div>
                    </div>
                    <p> <i class="ri-map-pin-line"></i> Hong Kong</p>
                    <br>
                    <span class="price">350$</span>
                </div>
                <button id = "details5" class="details-btn " routerLink="/details" target="_blank">Details</button>
            </div>
            <div class="popular__card">
                <img src="https://images.pexels.com/photos/261388/pexels-photo-261388.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    width="400" height="400" alt="popular hotel" />
                <div class="popular__content">
                    <div class="popular__card__header">
                        <h4>Atlantis The Palm</h4>
                        <div class="star-rating">
                            <span class="icon">
                              
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-line"></i>
                                <i class="ri-star-line"></i>
                            </span> <br><br>
                        </div>
                    </div>
                    <p> <i class="ri-map-pin-line"></i> Dubai, United Arab Emirates</p>
                    <br>
                    <span class="price">200$</span>
                </div>
                <button class="details-btn " routerLink="/details" target="_blank">Details</button>
            </div>
            <div class="popular__card">
                <img src="https://images.pexels.com/photos/751268/pexels-photo-751268.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    width="400" height="400" alt="popular hotel" />
                <div class="popular__content">
                    <div class="popular__card__header">
                        <h4>The Ritz-Carlton</h4>
                        <div class="star-rating">
                            <span class="icon">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-line"></i>
                            </span> <br><br>
                        </div>
                        
                    </div>
                    <p> <i class="ri-map-pin-line"></i> Tokyo, Japan</p>
                    <br>
                    <span class="price">250$</span>
                </div>
                
                <button class="details-btn " routerLink="/details" target="_blank">Details</button>
            </div>
            <div class="popular__card">
                <img src="https://images.pexels.com/photos/2291636/pexels-photo-2291636.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    width="400" height="400" alt="popular hotel" />
                <div class="popular__content">
                    <div class="popular__card__header">
                        <h4>Marina Bay Sands</h4>
                        <div class="star-rating">
                            <span class="icon">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-line"></i>
                                <i class="ri-star-line"></i>
                                <i class="ri-star-line"></i>
                            </span> <br><br>
                        </div>
                    </div>
                    <p> <i class="ri-map-pin-line"></i> Singapore</p>
                    <br>
                    <span class="price">600$</span>
                </div>
                <button class="details-btn " routerLink="/details" target="_blank">Details</button>
            </div>
        </div>
    </section>
    <section class="client">
        <div class="section__container client__container">
            <h2 class="section__header">Bizi seçenler ne diyor</h2>
            <div class="client__grid">
                <div class="client__card">
                    <img src="img/omelanda.jpg" alt="client" />
                    <p>
                        bad omens > sleep token
                    </p>
                </div>
                <div class="client__card">
                    <img src="img/ceza-423.jpg" alt="client" />
                    <p>
                        prog metali severim
                    </p>
                </div>
                <div class="client__card">
                    <img src="img/sagopa-kajmer.jpg" alt="client" />
                    <p>
                        loathe en iyi prog metal grubudur.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="section__container">
        <div class="reward__container">
            <h4>ASDASD</h4>
            <button class="reward__btn">ASDASD</button>
        </div>
    </section>
</body>