.li-ico {
    margin-left: 5px;
  }

  .navbar {
    z-index: 700;
    position: fixed;
    top: 0;
    width: 100%;
  }

  .content {
    margin-top: 70px; /* Navbar'ın yüksekliğine göre ayarlayın */
  }