@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

:root {
    --primary-color: #2c3855;
    --primary-color-dark: #435681;
    --text-dark: #333333;
    --text-light: #767268;
    --extra-light: #f3f4f6;
    --white: #ffffff;
    --max-width: 1200px;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    display: flex;
}

nav {
    max-width: var(--max-width);
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__logo {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-dark);
}

.nav__links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.link a {
    font-weight: 500;
    color: var(--text-light);
    transition: color 0.3s;
}

.link a:hover {
    color: var(--primary-color);
}

.section__container, .header__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}

.section__header {
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-dark);
    text-align: center;
}

.header__image__container {
    position: relative;
    min-height: 500px;
    background: url("https://cdn.pixabay.com/photo/2017/01/20/00/30/maldives-1993704_960_720.jpg") center/cover no-repeat;
    border-radius: 2rem;
}

.h2_custom {
    text-shadow: 2px 2px #000000;
    font-size: 50px;
}

.header__content {
    max-width: 600px;
    padding: 5rem 2rem;
}

.header__content h1 {
    margin-bottom: 1rem;
    font-size: 3.5rem;
    line-height: 4rem;
    font-weight: 600;
    color: var(--white);
}

.header__content p {
    color: var(--extra-light);
}

.booking__container {
    position: absolute;
    bottom: -5rem;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 6rem);
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 3rem 2rem;
    border-radius: 2rem;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.booking__container form {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.booking__container .input__group {
    position: relative;
}

.booking__container label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-dark);
    pointer-events: none;
    transition: font-size 0.3s, top 0.3s;
}

.booking__container input {
    width: 100%;
    padding: 10px 0;
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid var(--primary-color);
    background: transparent;
    color: var(--text-dark);
}

.booking__container input:focus ~ label {
    font-size: 0.8rem;
    top: 0;
}

.booking__container .form__group p {
    margin-top: 0.5rem;
    font-size: 0.8rem;
    color: var(--text-light);
}

.booking__container .btn {
    padding: 1rem;
    font-size: 1.5rem;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 100%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.booking__container .btn:hover {
    background-color: var(--primary-color-dark);
}

.popular__grid, .client__grid {
    margin-top: 4rem;
    display: grid;
    gap: 2rem;
}

.popular__grid {
    grid-template-columns: repeat(4, 1fr);
}

.client__grid {
    grid-template-columns: repeat(3, 1fr);
}

.popular__card, .client__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensure content is spread out */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    overflow: hidden;
    width: 100%;
    max-width: 400px;
    transition: transform 0.4s;
}

.popular__card:hover {
    transform: scale(1.1);
}

.popular__content {
    padding: 10px;
    flex-grow: 1; /* Allow content to grow and push button down */
}

.popular__card__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 0.5rem;
}

.star-rating {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: -25px;
}

.rating-score {
    color: black; /* veya uygun bir renk */
    font-size: 16px; /* uygun bir font büyüklüğü */
}

.icon i {
    font-size: 24px;
    color: #f9c313;
}

.icon .active {
    color: #ffbb00;
}

.popular__card__header h4 {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
}

.popular__content p {
    color: var(--text-light);
}

.client {
    background-color: var(--extra-light);
}

.client__card {
    padding: 2rem;
    background-color: var(--white);
    border-radius: 1rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.client__card img {
    max-width: 80px;
    margin: auto;
    margin-bottom: 1rem;
    border-radius: 100%;
}

.client__card p {
    text-align: center;
    color: var(--text-dark);
}

.reward__container {
    padding: 2rem;
    text-align: center;
    border-radius: 2rem;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.reward__container p {
    margin-bottom: 1rem;
    font-weight: 600;
    color: var(--text-light);
}

.reward__container h4 {
    max-width: 500px;
    margin: auto;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-dark);
}

.reward__btn {
    padding: 1rem 3rem;
    font-size: 1rem;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.reward__btn:hover {
    background-color: var(--primary-color-dark);
}

.footer {
    background-color: var(--extra-light);
}

.footer__container {
    display: grid;
    gap: 5rem;
}

.footer__container {
    grid-template-columns: 2fr repeat(3, 1fr);
}

.footer__col h3, .footer__col h4 {
    color: var(--text-dark);
}

.footer__col h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.footer__col h4 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.footer__col p {
    color: var(--text-light);
    cursor: pointer;
    transition: color 0.3s;
}

.footer__col p:hover {
    color: var(--text-dark);
}

.footer__bar {
    position: relative;
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    font-size: 0.9rem;
    color: var(--text-light);
    text-align: right;
}

.footer__bar::before {
    position: absolute;
    content: "";
    top: 50%;
    right: 28rem;
    transform: translateY(-50%);
    width: 20rem;
    height: 2px;
    background-color: var(--text-light);
}

@media (max-width: 900px) {
    .booking__container form {
        grid-template-columns: repeat(2, 1fr);
    }

    .popular__grid, .client__grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .footer__container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .nav__links {
        display: none;
    }

    .header__container {
        padding-bottom: 25rem;
    }

    .booking__container {
        flex-direction: column;
        bottom: -25rem;
    }

    .booking__container form, .popular__grid, .client__grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer__container {
        gap: 2rem;
    }
}

.details-btn {
    margin: 10px 5px;
    padding: 10px;
    font-size: 14px;
    border: none;
    border-radius: 20px;
    background-color: #005d81;
    color: #f3f3f3;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: auto; /* Push the button to the bottom */
}

.details-btn:hover {
    background-color: #0079a8;
}

.line-fixer {
    word-wrap: break-word;
}

.pagination-container {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 100%;
    padding: 1rem 0;
}
